body{
	background-color: #232323;
}

/* Adds class square */
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}
/*Selecting with id container */
#container{
	margin: 0 auto;
	max-width: 600px;
}

h1{
	color: white;
}

span{
	color: white;
}